* {
    font-family: sans-serif;
}
.quick-contact {
  background: rgb(5, 170, 235);
  overflow: hidden;
  padding: 10px;
}
.quick-contact__method {
  float: left;
  margin: 0 10px 0;
}
.quick-contact__link {
    color: #fff;
    display: block;
    text-decoration: none;
    font-weight: bold;
}
.quick-contact__link:hover {
    color: #ccc;
}
.quick-contact__method_facebook {
  float: right;
}
