* {
    font-family: sans-serif;
}
.quick-contact {
  background: lightblue;
  overflow: hidden;
  padding: 10px;
}
.quick-contact__method {
  float: left;
  margin: 0 10px 0;
}
.quick-contact__link {
    color: #fff;
    display: block;
    text-decoration: none;
}
.quick-contact__method_facebook {
  float: right;
}
